<form>
  <div class="input-group">
    <div>
      <label>Initial Investment</label>
      <input
        type="number"
        name="initial-investment"
        [(ngModel)]="initialInvestmentInput"
        (input)="onInitialInvestmentChange()"
      />
    </div>
    <div>
      <label>Annual Investment</label>
      <input
        type="number"
        name="annual-investment"
        [(ngModel)]="annualInvestmentInput"
        (input)="onAnnualInvestmentChange()"
      />
    </div>
  </div>
  <div class="input-group">
    <div>
      <label>Expected Return</label>
      <input
        type="number"
        name="expected-return"
        [(ngModel)]="expectedReturnInput"
        (input)="onExpectedReturnChange()"
      />
    </div>
    <div>
      <label>Duration</label>
      <input
        type="number"
        name="duration"
        [(ngModel)]="durationInput"
        (input)="onDurationChange()"
      />
    </div>
  </div>
  <button>Calculate</button>
</form>
